* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "variables";

body {
  background-color: $bodyBgColor;
  font-family: $bodyFont;
  min-width: 352px;
}

header {
  .row-1 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    nav {
      a {
        text-decoration: none;
        padding: 0 20px;
        color: $homeMenuColor;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
  .row-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/header.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h2 {
      color: $bodyBgColor;
      text-shadow: 0 0 3px black;
      white-space: nowrap;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .card {
      border: 0.5px solid black;
      border-radius: 15px;
      overflow: hidden;
      background-color: $cardBgColor;
      max-width: 380px;

      .card-image {
        width: 100%;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          object-position: top;
        }
      }
      .card-content {
        padding: 10px;
      }
    }
  }

  .article {
    max-width: 380px;
  }

  aside {
    border: 0.5px solid $asideBorderColor;
    border-radius: 15px;
    overflow: hidden;
    background-color: $cardBgColor;

    padding: 10px;
    max-width: 380px;
  }
}

footer {
  nav {
    background-color: $homeMenuColor;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      padding: 0 20px;
      color: $bodyBgColor;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    .row-2 {
      h2 {
        font-size: 5vw;
      }
    }
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "flexGrid flexGrid flexGrid"
      "articleGrid articleGrid asideGrid";

    .cards {
      flex-direction: row;
      justify-content: space-between;
      grid-area: flexGrid;

      .card {
        max-width: 350px;
      }
    }
    .article {
      grid-area: articleGrid;
      max-width: none;
    }

    aside {
      grid-area: asideGrid;
      margin-left: auto;
    }
  }
}
